h1{
    color: white;
}
h2{
    color: #9e9e9e;
}

body{
    background-color: #002855;
}

#table_show {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

#table_show th, #table_show tr{
    border: 1px solid #ddd;
    padding: 8px;
}
#table_show td{
    padding: 8px;
}

#table_show tr.odd{
    background-color: #c2bfbf;
}

#table_show tr.even{
    background-color: #fff;
}

#table_show tr:hover{
    background-color: #ddd;
}

.div-tb-inventory{
    color: #002855;
    width: 70%;
    margin: 0 auto;
}

#table_show th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00a79d;
    color: white;
}

button.add-button{
    background-color: #00a79d;
    border: 1px #cccccc;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a.add-button{
    color:white;
    font-size: 16px;
    text-decoration: none;
}


div {
    border-radius: 5px;
    padding: 20px;
}

.action-link {
    color: #00a79d;
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
}

.action-link:hover {
    color: #00a79d;
}

.logo-container {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
}


.div-menu{
}
.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.nav-menu li {
    float: left;
    width: 25%;
    text-align: center;
}

.nav-menu li a {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    background-color: #00a79d;
}

.nav-menu li a:hover {
    background-color: #0a544f;
    color: #fff;
}

.NotFound{
    padding: 10px 15px;
    color: #000000;
    text-decoration: none;
    background-color: #c2bfbf;
}


/* Estilos para telas menores, como tablets */
@media only screen and (max-width: 768px) {
    #table_show {
        font-size: 14px;
        /* Adicione mais estilos conforme necessário para tamanhos menores de tela */
    }
}

/* Estilos para telas ainda menores, como smartphones */
@media only screen and (max-width: 480px) {
    #table_show {
        font-size: 12px;
        /* Adicione mais estilos conforme necessário para tamanhos menores de tela */
    }
}